{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
        <div class="container">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ object.image | media_filter }}">
                        <div class="card-body">
                            <p class="card-text">{{ object.name }}</p>
                            <p class="card-text">Дата публикации: {{ object.created_at }}</p>
                            <p class="card-text">{{ object.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{% url 'blog:blog_list' %}" role="button">Назад</a>
                                </div>
                                <small class="text-body-secondary">{{ object.views_counter }} просм.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
